## The following requirements were added by pip --freeze:
Flask==0.10.1
Flask-Injector==0.7.0
Flask-OAuthlib==0.9.2
Flask-SQLAlchemy==1.0
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.11
SQLAlchemy==1.0.13
Werkzeug==0.9.4
astroid==1.4.5
colorama==0.3.7
injector==0.9.1
itsdangerous==0.24
lazy-object-proxy==1.2.2
oauthlib==1.1.1
ordbok==0.1.8
pep8==1.7.0
pycrypto==2.6.1
pylint==1.5.5
requests==2.10.0
requests-oauthlib==0.6.1
simple-crypt==4.1.7
six==1.10.0
wrapt==1.10.8
