{% extends "base.jinja2" %}

{% macro carousel_caption(current, next_text) %}
<div class="carousel-caption">
    <div class="pull-left">
        {% if current > 0 %}
        <button data-target="#consent-carousel" data-slide="prev" class="btn btn-primary">Back</a>
        {% endif %}
    </div>
    <div class="pull-right">
        <a href="{{ abort_uri | e }}" class="btn btn-default">Do not approve</a>
        <button type="button" data-target="#consent-carousel" data-slide="next" class="btn btn-primary">{{ next_text }}</button>
    </div>
</div>
{% endmacro %}

{% macro consent_item(name) %}
<div class="form-group">
    <span class="col-xs-4 col-sm-2 col-sm-offset-2">{{ name }}</span>
    <label class="col-xs-4">{{ caller() }}</label>
    <div class="col-xs-4">
        <div class="checkbox">
            <input type="checkbox" class="glyphbox">
        </div>
    </div>
</div>
{% endmacro %}

{% block body %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div id="consent-carousel" class="carousel" data-ride="carousel" data-interval="">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h1 class="text-center">Health Information Sharing Preview</h1>
                    <p>You have signed into the <strong>{{ config.API_SERVER_NAME }}</strong> patient portal to approve sharing your personally identifiable health information (including Protected Health Information as understood under the HIPAA law) maintained at <strong>{{ config.API_SERVER_NAME }}</strong> with a third party, the <strong>{{ client.name }}</strong> via their research application.</p>

                    <p>You will first be asked to confirm:</p>

                    <ul>
                        <li>the person whose personally identifiable health information would be shared (<strong>{{ current_user.name }}</strong>)</li>
                        <li>the organization that maintains the information (<strong>{{ config.API_SERVER_NAME }}</strong>)</li>
                        <li>the third party that would receive the information (<strong>{{ client.name }}</strong>)</li>
                        <li>for how long any new information would be shared</li>
                        <li>the type of information that would be shared</li>
                    </ul>

                    <p>You will then have the opportunity to review what you confirmed before you would approve sharing your personally identifiable health information.</p>

                    <p>Once you approve sharing your personally identifiable health information, you, not <strong>{{ config.API_SERVER_NAME }}</strong>, will be responsible for any risks resulting from sharing this information with the <strong>{{ client.name }}</strong>.</p>

                    <p>Whether you choose to share or not to share your personally identifiable health information with the <strong>{{ client.name }}</strong> will have no effect on the medical care, benefits, or services that you will receive from <strong>{{ config.API_SERVER_NAME }}</strong>.</p>

                    {{ carousel_caption(0, 'Begin') }}
                </div>

                <div class="item" id="confirmation-item">
                    <h1 class="text-center">Health Information Sharing</h1>

                    <p>To confirm that you want to share personally identifiable health information check each box:</p>

                    <form class="form-horizontal">
                        {% call consent_item('Patient name') -%}
                            {{ current_user.name }}
                        {%- endcall %}

                        <hr>

                        {% call consent_item('Provider name') -%}
                            {{ config.API_SERVER_NAME }}
                        {%- endcall %}

                        <hr>

                        {% call consent_item('Receiver name') -%}
                            {{ client.name }}
                        {%- endcall %}

                        <hr>

                        {% call consent_item('Share until') -%}
                            <time data-format="MMMM D, YYYY" datetime="{{ expires }}"></time>
                        {%- endcall %}

                        <hr>

                        {% call consent_item('Information') -%}
                            <ul class="list-unstyled">
                                {% for label in client.security_labels %}
                                    <li>{{ label }}</li>
                                {% endfor %}
                            </ul>
                        {%- endcall %}
                    </form>


                    {{ carousel_caption(1, 'Next') }}
                </div>

                <div class="item">
                    <h1 class="text-center">Health Information Sharing Approval</h1>

                    <div class="well">
                        <p><time data-format="MMMM D, YYYY [at] h:mma" datetime="{{ today }}"></time></p>

                        <p>I, {{ current_user.name }}, approve {{ config.API_SERVER_NAME }} to share my personally identifiable health information (including Protected Health Information as understood under the HIPAA law) with the {{ client.name }} via their research application.</p>

                        <p>My approval to share my personally identifiable health information with the {{ client.name }} applies to ALL past dates of service, as well as all future dates of service, at {{ config.API_SERVER_NAME }} until <time data-format="MMMM D, YYYY" datetime="{{ expires }}"></time>, for the following personally identifiable health Information</p>

                        <ul class="list-unstyled">
                            {% for label in client.security_labels %}
                                <li>{{ label }}</li>
                            {% endfor %}
                        </ul>

                        <p>By approving sharing my personally identifiable health information with the {{ client.name }}, I understand that I, not {{ config.API_SERVER_NAME }}, will be responsible for any risks resulting from sharing this information with the {{ client.name }}.</p>

                        <p>I understand that whether I choose to share or not to share my personally identifiable health information with the {{ client.name }} will have no effect on the medical care, benefits, or services that I will receive from {{ config.API_SERVER_NAME }}.</p>
                    </div>

                    <div class="carousel-caption">
                        <div class="pull-left">
                            <a data-target="#consent-carousel" data-slide-to="1" class="btn btn-primary">Back</a>
                        </div>
                        <form action="/oauth/authorize" method="post" class="pull-right">
                            <a href="{{ abort_uri | e }}" class="btn btn-default">Do not approve</a>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                            <input type="hidden" name="client_id" value="{{ data.client_id | e }}" />
                            <input type="hidden" name="scope" value="{{ data.scopes | join(' ') | e }}" />
                            <input type="hidden" name="response_type" value="{{ data.response_type | e }}" />
                            <input type="hidden" name="redirect_uri" value="{{ data.redirect_uri | e }}" />
                            {% if data.state %}
                            <input type="hidden" name="state" value="{{ data.state | e}}" />
                            {% endif %}

                            <button type="submit" class="btn btn-primary" id="authorize">Approve</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
{{ super() }}
<style type="text/css">
    #consent-carousel .item {
        height: 600px;
        padding: 20px 0 0;
    }
    #consent-carousel .item > :first-child {
        margin-top: 0;
    }
    #consent-carousel h1 {
        margin-bottom: 1em;
    }
    #consent-carousel form {
        margin-bottom: 0;
    }
    #consent-carousel form .form-group {
        margin-bottom: 0;
    }
    #consent-carousel form hr {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    #consent-carousel .carousel-caption {
        right: 10%;
        left: 10%;
    }
    #consent-carousel .well {
        height: 400px;
        overflow: auto;
        background: #FCF5D8;
    }
    input[type="checkbox"].glyphbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        line-height: 0;
        outline: none;
    }
    input[type="checkbox"].glyphbox:before {
        font-family: 'Glyphicons Halflings';
        font-size: 18px;
        content: "\e157";
    }
    input[type="checkbox"][disabled].glyphbox:before {
        color: #999;
    }
    input[type="checkbox"].glyphbox:checked:before {
        content: "\e067";
    }
</style>
{% endblock %}

{% block javascript %}
{{ super() }}
{% raw %}
<script>
    $(function () {
        var $next = $('#confirmation-item .btn:contains("Next")');
        var $boxes = $('#confirmation-item :checkbox');
        var $all = $boxes.add($next);

        $boxes.on('change', function (event) {
            var $el = $(event.currentTarget);
            var index = $all.index($el) + 1 + Number($el.is(':checked'));
            var $after = $all.slice(index);

            $all.attr('disabled', false);
            $after.attr('disabled', true)
                .attr('checked', false);
        });
        $boxes.first().trigger('change');

        $('time[data-format]').each(function (ix, el) {
            var $el = $(el);
            var dt = moment($el.attr('datetime'));

            $el.text(dt.format($el.data('format')));
        });
    });
</script>
{% endraw %}
{% endblock %}
