{% extends "base.jinja2" %}

{% macro carousel_caption(current, next_text) %}
<div class="carousel-caption">
    {% set prev = current - 1 %}
    {% set next = current + 1 %}
    <div class="pull-left">
        {% if current > 0 %}
        <a data-target="#consent-carousel" data-slide-to="{{ prev }}" class="btn btn-primary">Back</a>
        {% endif %}
    </div>
    <div class="pull-right">
        <a href="{{ abort_uri | e }}" class="btn btn-default">Do not approve</a>
        <a data-target="#consent-carousel" data-slide-to="{{ next }}" class="btn btn-primary">{{ next_text }}</a>
    </div>
</div>
{% endmacro %}

{% block body %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div id="consent-carousel" class="carousel" data-ride="carouself">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h1 class="text-center">Health Information Sharing Preview</h1>
                    <p>You have signed into the {{ config.API_SERVER_NAME }} patient portal to approve sharing your personally identifiable health information (including Protected Health Information as understood under the HIPAA law) maintained at {{ config.API_SERVER_NAME }} with a third party, the All of Us Research Program via their research application.</p>

                    <p>You will first be asked to confirm:</p>

                    <ul>
                        <li>the person whose personally identifiable health information would be shared ({{ current_user.name }})</li>
                        <li>the organization that maintains the information ({{ config.API_SERVER_NAME }})</li>
                        <li>the type of information that would be shared</li>
                        <li>for how long any new information would be shared</li>
                        <li>the third party that would receive the information (All of Us Research Program)</li>
                    </ul>

                    <p>You will then have the opportunity to review what you confirmed before you would approve sharing your personally identifiable health information.</p>

                    <p>Once you approve sharing your personally identifiable health information, you, not {{ config.API_SERVER_NAME }}, will be responsible for any risks resulting from sharing this information with the All of Us Research Program.</p>

                    <p>Whether you choose to share or not to share your personally identifiable health information with the All of Us Research Program will have no effect on the medical care, benefits, or services that you will receive from {{ config.API_SERVER_NAME }}.</p>

                    {{ carousel_caption(0, 'Begin') }}
                </div>

                <div class="item">
                    <h1 class="text-center">Health Information Sharing</h1>

                    <p>To confirm that you want to share personally identifiable health information check each box:</p>

                    <p>...</p>

                    {{ carousel_caption(1, 'Next') }}
                </div>

                <div class="item">
                    <h1 class="text-center">Health Information Sharing Review &amp; Approve</h1>

                    <p>{{ today }} at {{ now }} UTC</p>

                    <p>I, {{ current_user.name }}, approve {{ config.API_SERVER_NAME }} to share my personally identifiable health information (including Protected Health Information as understood under the HIPAA law) with the All of Us Research Program via their research application.</p>

                    <p>My approval to share my personally identifiable health information with the All of Us Research Program applies to ALL past dates of service, as well as all future dates of service, at {{ config.API_SERVER_NAME }} until {{ expires }}, for the following personally identifiable health Information</p>

                    <ul>
                        <li>...</li>
                    </ul>

                    <p>By approving sharing my personally identifiable health information with the All of Us Research Program, I understand that I, not {{ config.API_SERVER_NAME }}, will be responsible for any risks resulting from sharing this information with the All of Us Research Program.</p>

                    <p>I understand that whether I choose to share or not to share my personally identifiable health information with the All of Us Research Program will have no effect on the medical care, benefits, or services that I will receive from {{ config.API_SERVER_NAME }}.</p>

                    <div class="carousel-caption">
                        <div class="pull-left">
                            <a data-target="#consent-carousel" data-slide-to="2" class="btn btn-primary">Back</a>
                        </div>
                        <form action="/oauth/authorize" method="post" class="pull-right">
                            <a href="{{ abort_uri | e }}" class="btn btn-default">Do not approve</a>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                            <input type="hidden" name="client_id" value="{{ data.client_id | e }}" />
                            <input type="hidden" name="scope" value="{{ data.scopes | join(' ') | e }}" />
                            <input type="hidden" name="response_type" value="{{ data.response_type | e }}" />
                            <input type="hidden" name="redirect_uri" value="{{ data.redirect_uri | e }}" />
                            {% if data.state %}
                            <input type="hidden" name="state" value="{{ data.state | e}}" />
                            {% endif %}

                            <button type="submit" class="btn btn-primary" id="authorize">Approve</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
{{ super() }}
<style type="text/css">
    #consent-carousel .item {
        height: 450px;
        padding: 20px 0 0;
    }
    #consent-carousel .item :first-child {
        margin-top: 0;
    }
    #consent-carousel form {
        margin-bottom: 0;
    }
</style>
{% endblock %}
